<ion-modal-view class="mm-login-help-modal">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">{{ 'mm.login.help' | translate}}</h1>
        <button class="button button-icon ion-close-round" ng-click="closeHelp()" aria-label="{{ 'mm.core.close' | translate }}"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <mm-format-text>{{ 'mm.login.helpmelogin' | translate}}</mm-format-text>
          <ul class="list">
            <li class="no-lines divider"><b>DISTAV</b>: distav.aulaweb.unige.it </li>
            <li class="no-lines divider"><b>Valle Puggia - SMFC</b>: smfc.aulaweb.unige.it</li>
            <li class="no-lines"><b>DIBRIS</b>: dibris.aulaweb.unige.it</li>
            <li class="no-lines"><b>Biotecnologie</b>: biotecnologie.aulaweb.unige.it</li>
            <li class="no-lines"><b>Farmacia</b>: farmacia.aulaweb.unige.it</li>
            <li class="no-lines"><b>Medicina e Chirurgia</b>: medicina.aulaweb.unige.it</li>
            <li class="no-lines"><b>Professioni Sanitarie</b>: sanitarie.aulaweb.unige.it</li>
            <li class="no-lines"><b>Scienze Motorie</b>: smotorie.aulaweb.unige.it</li>
            <li class="no-lines"><b>Economia</b>: economia.aulaweb.unige.it</li>
            <li class="no-lines"><b>Giurisprudenza</b>: giurisprudenza.aulaweb.unige.it</li>
            <li class="no-lines"><b>Scienze politiche</b>: scienzepolitiche.aulaweb.unige.it</li>
            <li class="no-lines"><b>Scienze della Formazione</b>: sdf.aulaweb.unige.it</li>
            <li class="no-lines"><b>Lettere</b>: lettere.aulaweb.unige.it</li>
            <li class="no-lines"><b>Lingue</b>: lingue.aulaweb.unige.it</li>
            <li class="no-lines"><b>DAD</b>: architettura.aulaweb.unige.it</li>
            <li class="no-lines"><b>DICCA</b>: dicca.aulaweb.unige.it</li>
            <li class="no-lines"><b>DIME</b>: dime.aulaweb.unige.it</li>
            <li class="no-lines"><b>DITEN</b>: diten.aulaweb.unige.it</li>
            <li class="no-lines"><b>Ingegneria (La Spezia)</b>: ingsp.aulaweb.unige.it</li>
            <li class="no-lines"><b>Ingegneria (Savona)</b>: ingsv.aulaweb.unige.it</li>
          </ul>
    </ion-content>
</ion-modal-view>
