<ion-modal-view class="mm-login-help-modal">
    <ion-header-bar class="bar bar-header">
        <h1 class="title">{{ 'mm.login.help' | translate}}</h1>
        <button class="button button-icon ion-close-round" ng-click="closeHelp()" aria-label="{{ 'mm.core.close' | translate }}"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <mm-format-text>{{ 'mm.login.helpmelogin' | translate}}</mm-format-text>
  <ion-list>
    <ion-item>DISTAV: distav.aulaweb.unige.it </ion-item>
    <ion-item>Valle Puggia - SMFC: smfc.aulaweb.unige.it</ion-item>
    <ion-item>DIBRIS: dibris.aulaweb.unige.it</ion-item>
    <ion-item>Biotecnologie: biotecnologie.aulaweb.unige.it</ion-item>
    <ion-item>Farmacia: farmacia.aulaweb.unige.it</ion-item>
    <ion-item>Medicina e Chirurgia: medicina.aulaweb.unige.it</ion-item>
    <ion-item>Professioni Sanitarie: sanitarie.aulaweb.unige.it</ion-item>
    <ion-item>Scienze Motorie: smotorie.aulaweb.unige.it</ion-item>
    <ion-item>Economia: economia.aulaweb.unige.it</ion-item>
    <ion-item>Giurisprudenza: giurisprudenza.aulaweb.unige.it</ion-item>
    <ion-item>Scienze politiche: scienzepolitiche.aulaweb.unige.it</ion-item>
    <ion-item>Scienze della Formazione: sdf.aulaweb.unige.it</ion-item>
    <ion-item>Lettere: lettere.aulaweb.unige.it</ion-item>
    <ion-item>Lingue: lingue.aulaweb.unige.it</ion-item>
    <ion-item>DAD: architettura.aulaweb.unige.it</ion-item>
    <ion-item>DICCA: dicca.aulaweb.unige.it</ion-item>
    <ion-item>DIME: dime.aulaweb.unige.it</ion-item>
    <ion-item>DITEN: diten.aulaweb.unige.it</ion-item>
    <ion-item>Ingegneria (La Spezia): ingsp.aulaweb.unige.it</ion-item>
    <ion-item>Ingegneria (Savona): ingsv.aulaweb.unige.it</ion-item>
</ion-list>
    </ion-content>
</ion-modal-view>
